<!DOCTYPE html>
<html lang="zh-CN" style="width:100%;height:100%;">
    <head>
        <meta charset="UTF-8" name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <title>Playground</title>
        <link rel="stylesheet" type="text/css" href="/css/font-awesome/css/all.min.css">
        <link rel="stylesheet" type="text/css" href="/css/normalize.css">
        <link rel="stylesheet" type="text/css" href="/css/common.css">
        <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/css/ui.css">
        <style>
            input::-webkit-outer-spin-button,
            input::-webkit-inner-spin-button {
                -webkit-appearance: none;
            }
            .subtoolbar {
                font-size: 12px;
            }
            .options select {
                height: 20px;
            }
            .options a {
                padding: 0;
            }
            .options label {
                text-align: right;
                margin: 0;
                margin-right: 5px;
                margin-left: 5px;
            }
        </style>
    </head>
    <body class="m-0" style="background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5); height:100%;">
        <div class="container-fluid h-100 d-flex flex-column">
            <div class="row p-0 toolbar btn-toolbar" id="toolbar-main">
            </div>
            <div class="row p-0 toolbar btn-toolbar" id="toolbar-sub">
            </div>
            <div class="row m-3 flex-grow-1 d-flex flex-row">
                <div class="col-10 d-flex flex-row flex-grow-1 justify-content-center">
                    <canvas class="flex-grow-1" id="playground-canvas" style="background-color:#fff; border:1px solid #646464;"></canvas>
                </div>
                <div class="col-2" id="chat-list">
                    <!--
                    <div style="padding:10px; border-bottom: 1px solid #c4c4c4;">
                        <p>100人在线</p>
                    </div>
                    <div class="flex-grow-1" >
                        <ul>
                            <li>
                                <div class="d-flex flex-row align-items-stretch" style="height:100%;">
                                    <img class="rounded-circle" src="/images/default-face.jpg">
                                    <div style="margin-left: 15px;">
                                        <span>爱丽丝</span>
                                        <p>这个是备注</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    -->
                </div>
            </div>
        </div>
        <script src="/js/jquery.min.js"></script>
        <script src="/js/popper.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/mediasoup-client.js"></script>
        <script src="/js/socket.io.js"></script>
        <script src="/js/create_whiteboard.js"></script>
        <% if (serverinfo) { %>
        <script>
            $(document).ready (function () {
                create_whiteboard.init ("<%- serverinfo.host %>");
                $('#tb-shape-dropdown').off ('click');
                $('#tb-shape-dropdown').on ('click', function(ev) {
                    if (ev.target === this) {
                        console.log ('click element');
                    } else {
                        console.log ('click after');
                    }
                    ev.stopPropagation ();
                });
            });
        </script>
        <% } else { %>
        <script>
            $(document).ready (function () {
                create_whiteboard.init ();
                $('#tb-shape-dropdown').on ('click', function(ev) {
                    if (ev.target === this) {
                        console.log ('click element');
                    } else {
                        console.log ('click after');
                    }
                    ev.stopPropagation ();
                });
            });
        </script>
        <% } %>
    </body>
</html>